body {
    padding-top: 5rem;
}

img { 
    position: absolute; 
    display: block; 
    top:0; 
    left:0;  
}

img.demo:hover { 
    mix-blend-mode: difference  
}

.img-diff {
    padding: 3rem 1.5rem;
    text-align: center;
}
